name: RoboDK-API

on: 
  pull_request:
  push:
  workflow_dispatch: # Run workflow manually
    branches: [master]
    paths:
      - "Python/robodk/*.py"

env:
  BUILD_TYPE: Release
  ROBODK_BIN: /bin/RoboDK

jobs:

  # This job runs the tests in the RoboDK docker image.
  test_robodk:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.10"]    #["3.7", "3.8", "3.9", "3.10", "3.11"]
    container: 
      image: robodk/robodk:latest
      credentials:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}  
      options: --user root
      ports:
        - 20501:20501
      volumes:
        - ${{ github.workspace }}:/API_TEST

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          apt-get update
          apt-get install -y python3-pip
          pip3 install nose2
          pip3 install nose2-html-report
          pip3 install parameterized

      - name: Run Tests
        run: |
          ls
          cd /dir
          ls
          cd ..
          mkdir -p test_reports
          cd test_reports
          nose2 --verbose --log-capture --config nose2.cfg -s /API_TEST/Python/tests
          echo "Generated report:"
          ls -la test_reports
          

      - name: Upload Test Results
        uses: actions/upload-artifact@v2
        with:
          name: TestResults
          path: |
            /test_reports/results.xml
            /test_reports/report.html