name: RoboDK-API

on: 
  pull_request:
  push:
  workflow_dispatch: # Run workflow manually
    branches: [master]
    paths:
      - "Python/robodk/*.py"

env:
  BUILD_TYPE: Release

jobs:

  # This job runs the tests in the RoboDK docker image.
  test_robodk:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.10"]    #["3.7", "3.8", "3.9", "3.10", "3.11"]
    container: 
      image: robodk/robodk:latest
      credentials:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}  
      options: --user root
      ports:
        - 20501:20501
      volumes:
        - ${{ github.workspace }}:/Python/tests

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          apt-get update
          apt-get install -y python3-pip
          pip3 install nose2
          pip3 install nose2-html-report

      - name: Run Tests
        run: |
          cd /Python/tests
          mkdir -p /Python/tests/test_reports
          nose2 -verbose --log-capture --config nose2.cfg test_import_modules
          report.html
          

      - name: Upload Test Results
        uses: actions/upload-artifact@v2
        with:
          name: TestResults
          path: |
            /Python/tests/test_reports/results.xml
            /Python/tests/test_reports/report.html